{{#if logged_in}}
<!-- navigation header -->
	<header class="header">
      <h1 class="challenge-title">Less Waste, More Taste</h1>
      <nav>
        <button class="signup">Home</button>
        <button class="logout">Logout</button>
        <!-- <input type="text" placeholder="Search.."> -->
      </nav>
  </header>
<!-- login screen -->
<div class="main_login">

<h1 class="landing-header">Welcome Back!</h1>
<p class="landing-text">Search your ingredients below (maximum of 3) 
  for recipe ideas containing those ingredients.
</p>
  <input type="text" placeholder=" Type ingredients here">

</div>
{{else}}
<!-- navigation header -->
	<header class="header">
      <h1 class="challenge-title">Less Waste, More Taste</h1>
      <nav>
        <button class="signup">Home</button>
        <a href="/login"><button class="login">Login</button></a>
        <!-- <input type="text" placeholder="Search.."> -->
      </nav>
  </header>
<!-- login screen -->
<div class="main_login">

<h1 class="landing-header">Hello, foodies</h1>
<p class="landing-text">Are you hoping to get rid of that almost expired tomato 
  and mozzarella in the fridge? Search our recipe database 
  for recipes containing your ingredients.</p>

  <div class="begin">
    <a href="/login"><button>Click here to begin</button></a>
  </div>

</div>
{{/if}}
