{{#each recipe}}
    <div class="recipe">
        <div class="picture">
            <img src="https://placehold.co/200x200" alt="Image of recipe">
        </div>
            <div class="recipe-name">
                <p>Recipe Name</p>
            </div>
            <div class="recipe-description">
                <p>Description</p>
            </div>
        </div>
{{/each}}