{{#each recipes as |recipe|}}
    <div class="recipe">
        <div class="picture">
            <img src="{{recipe.image}}" alt="Image of recipe">
        </div>
            <div class="recipe-name">
                <p>Recipe Name</p>
                <p>{{recipe.title}}</p>
            </div>
            <div class="recipe-description">
                <p>Used Ingredients</p>
                {{#each this.usedIngredients as |usedIngredient|}}
                <p>{{usedIngredient.name}}</p>
                {{/each}}
            </div>
                <div class="recipe-description">
                <p>Missed Ingredients</p>
                {{#each this.missedIngredients as |missedIngredient|}}
                <p>{{missedIngredient.name}}</p>
                {{/each}}
            </div>
        </div>
{{/each}}