  <!-- navigation header -->
	<header class="header">
      <h1 class="challenge-title">Less Waste, More Taste</h1>
      <nav>
        <button class="signup">Home</button>
        <button class="login">Login</button>
        <!-- <input type="text" placeholder="Search.."> -->
      </nav>
  </header>
<!-- login screen -->
<div class="main_login">

  <div class="usname">
    <label for="username">Username</label>
    <input type="text" placeholder="  Enter Username" name="username">
  </div>

  <div class="email">
    <label for="email">Email</label>
    <input type="email" placeholder="  Enter Email" name="email">
  </div>

  <div class="pword">
    <label for="password">Password</label>
    <input type="text" placeholder="  Enter Password" name="password">
  </div>

  <div class="SignUp">
    <button>Register</button>
  </div>

</div>